
    <div class="container">
        <div class="row row-cols-lg-5 row-cols-md-5 row-cols-3">
            <!-- column 1 -->
            <div class="footer__column">
                <h3 class="footer__heading">Air Jordan</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >Air Jordan 1
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >Air Jordan 11
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >Air Jordan 4</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >Jordan 1 Mid</a
                        >
                    </li>
                </ul>

                <h3 class="footer__heading">Nike</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Nike Dunk </a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >Nike Blazer
                        </a>
                    </li>
                </ul>
            </div>

            <!-- column 2 -->
            <div class="footer__column">
                <h3 class="footer__heading">New Balance</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >New Balance 327
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >New Balance 530
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >New Balance 550</a
                        >
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >New Balance 574</a
                        >
                    </li>
                </ul>

                <h3 class="footer__heading">Apparel</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Supreme </a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >Essentials
                        </a>
                    </li>
                </ul>
            </div>

            <!-- column 3 -->
            <div class="footer__column">
                <h3 class="footer__heading">Accessories</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >Gucci NY Yankees Cap
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >Supreme Field Waist Bag
                        </a>
                    </li>
                </ul>
                <h3 class="footer__heading">Sell</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >Selling Guide
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link">Scout </a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >Professional Tool
                        </a>
                    </li>
                </ul>
            </div>

            <!-- column 4 -->
            <div class="footer__column">
                <h3 class="footer__heading">Women's</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >Women's sneaker
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >Women's Shoes
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >Women's Accessories
                        </a>
                    </li>
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >Women's Apparel
                        </a>
                    </li>
                </ul>
                <h3 class="footer__heading">Popular Releases</h3>
                <ul class="footer__list">
                    <li class="footer__item">
                        <a href="#!" class="footer__link"
                            >Jordan 2 J Balvin
                        </a>
                    </li>
                </ul>
            </div>

            <!-- column 5 -->
            <div class="footer__column">
                <h3 class="footer__heading">Stay in touch</h3>
                <div class="footer__social">
                    <a href="#!" class="footer__social-btn">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a href="#!" class="footer__social-btn"
                        ><i class="fa-brands fa-chrome"></i>
                    </a>
                    <a href="#!" class="footer__social-btn">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                </div>
                <h3 class="footer__heading">Subscribe</h3>
                <div class="footer__desc">
                    Subscribe our newsletter for the latest update of
                    Dental care
                </div>

                <!-- <form class="footer-form" action="">
                    <input
                        class="footer-form__input"
                        type="email"
                        name="email"
                        id="email"
                        placeholder="Enter your email...."
                    />
                    <button
                        type="submit"
                        class="btn footer-form__submit"
                    >
                        Subscribe
                    </button>
                </form> -->
            </div>
        </div>

        <div class="footer__copyright">
            <p class="footer__copyright-text">
                2021 GDN. Copyright and All rights reserved.
            </p>
        </div>
    </div>
