<div class="header-top">
    <div class="container">
        <div class="row">
            <div class="header-top__info leftStart col-lg-6 col-md-7 col-6">
                <div class="header-top__body">
                    <i class="icon fa-solid fa-phone"></i>
                    <div class="header-top__phone">+84931554657</div>
                </div>
                <div class="header-top__body">
                    <i class="icon fa-regular fa-envelope"></i>
                    <div class="header-top__phone">
                        phamminhthuan912@gmail.com
                    </div>
                </div>
                <div class="header-top__body">
                    <i class="icon fa-solid fa-location-dot"></i>
                    <div class="header-top__phone">120 Thành Thái street</div>
                </div>
            </div>

            <div
                class="header-top__info rightEnd offset-lg-4 col-lg-2 offset-md-2 col-md-3 col-6"
            >
                <div class="header-top__body">
                    <i class="icon fa-solid fa-circle-user"></i>
                    <button class="button-login sign-up">
                        <a href="login.html" class="link">Sign up</a>
                    </button>
                    <button class="button-login">
                        <a href="login.html" class="link">Log in</a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="header-bottom">
    <div class="container">
        <div class="header-bottom__inner row">
            <!-- logo -->
            <figure class="header-bottom__pic col-lg-3 col-md-3 col-3">
                <a href="#!">
                    <img
                        src="./assets/img/logo/logo2.png"
                        alt=""
                        class="header-bottom__logo"
                    />
                </a>
            </figure>
            <!-- search -->
            <div class="header-search col-lg-6 col-md-6 col-7">
                <div class="header-search__left">
                    <span class="categories">All Categories</span>
                    <i class="fa-solid fa-arrow-down"></i>
                    <div class="modal-categories">
                        <span class="modal-categories__item hover"
                            >All Categories</span
                        >
                        <span class="modal-categories__item">Sneaker</span>
                        <span class="modal-categories__item">Shoes</span>
                        <span class="modal-categories__item">Accessories</span>
                    </div>
                </div>
                <form class="header-search__form">
                    <input
                        type="text"
                        class="header-search__input"
                        placeholder="Search here"
                    />
                    <button class="header-search__submit">Search</button>
                </form>
            </div>
            <!-- buy/sell -->
            <div class="header-buy col-lg-3 col-md-3 col-2">
                <div class="header-buy__body">
                    <div class="header-buy__icon icon-1">
                        <i class="icon fa-regular fa-heart"></i>
                        <span class="number number--1">2</span>
                    </div>
                    <span class="desc">Your Wishlist</span>
                </div>
                <div class="header-buy__body cart-2">
                    <div class="header-buy__icon icon-2">
                        <i class="icon fa-solid fa-cart-shopping"></i>
                        <span class="number number--2">0</span>
                    </div>
                    <span class="desc">Your Cart</span>
                </div>

                <!-- add cart -->
                <div class="addCart">
                    <!-- list -->
                    <div class="addCart__list">
                        <!-- <div class="addCart__item">
                            <img
                                src="./assets/img/home/sneaker-2/11.jpg"
                                alt=""
                                class="addCart__img"
                            />
                            <div class="addCart__info">
                                <h4 class="addCart__name">
                                    Jordan 1
                                </h4>
                                <div class="addCart__amount">
                                    <div
                                        class="addCart__amountLeft"
                                    >
                                        <span
                                            class="addCart__Number"
                                            >1</span
                                        >
                                        <span class="addCart__x"
                                            >x</span
                                        >
                                    </div>
                                    <div class="addCart__amountRight">
                                        <span class="moneyCart">1111110</span>
                                        <span class="moneyCart">$</span>
                                    </div>
                                </div>
                            </div>
                        </div> -->
                    </div>
                    <!-- total -->
                    <div class="itemBuy">
                        <div class="itemBuy__row">
                            <span class="itemBuy__number">0</span>
                            <span class="itemBuy__desc">Item(s) selected</span>
                        </div>
                        <div class="itemBuy__money">
                            <span>SUBTOTAL:</span>
                            <span class="subTotal">0</span>
                            <span>$</span>
                        </div>
                    </div>
                    <!-- button -->
                    <div class="addCart__action">
                        <a href="#!" class="addCart__link viewCart"
                            >View Cart</a
                        >
                        <a href="#!" class="addCart__link">
                            Check out
                            <i class="fa-solid fa-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>

            <!-- todo -->

            <div class="todo__list">
                <div class="todo__item">
                    <span class="todo__title"> Learning code</span>
                    <div class="todo__remove">
                        <i class="fa-solid fa-x"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
