<div class="container">
    <ul id="navPC" class="nav-list">
        <li class="nav-list__item">
            <a href="#" class="nav-list__link active">Home</a>
        </li>
        <li class="nav-list__item">
            <a href="./sneaker.html" class="nav-list__link">Sneaker</a>
        </li>
        <li class="nav-list__item">
            <a href="./shoes.html" class="nav-list__link">Shoes</a>
        </li>
        <li class="nav-list__item">
            <a href="#" class="nav-list__link">Clothes</a>
        </li>
        <li class="nav-list__item">
            <a href="#" class="nav-list__link">Trading Cards</a>
        </li>
        <li class="nav-list__item">
            <a href="#" class="nav-list__link">Accessories</a>
        </li>
        <li class="nav-list__item">
            <a href="#" class="nav-list__link"
                >Trending Deals</a
            >
        </li>
    </ul>
</div>