*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: #fff;
    font-size: 1.6rem;
    font-family: "Montserrat", sans-serif;
}

a {
    text-decoration: none;
}

input,
select,
textarea,
button {
    font-size: inherit;
    font-family: inherit;
}
