@import "../abstracts";
.alert {
    position: fixed;
    width: 390px;
    top: -3900px;
    left: 1118px;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    transform: translateX(150%);
    transition: all 0.2s linear;
    animation: fade 2s linear 1;

    &__body {
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 15px;
    }

    &__circle {
        @include button-arrow;
        width: 40px;
        height: 40px;

        background: #405ff9;

        > i {
            font-size: 1.4rem;
            color: #fff;
        }
    }
}

@keyframes fade {
    0%, 80% {
        transform: translateX(0);
    }
}