@import "../abstracts";

.slick-prev {
    background: red;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 10px;
}

.slick-next {
    background: red;
    color: #fff;
    border: none;
    outline: none;
    padding: 5px 10px;
}