@import "../abstracts";

.slick-arrow {
    border-radius: 99px;
    background: #dadada;
    color: #333;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    transition: all 0.25s linear;
}

.slick-arrow:hover {
    background: rgba(0,0,0,0.25);
}