@import "../abstracts";

.slick-arrow {
    border-radius: 99px;
    background: #dâdada;
    color: #fff;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}