@import "../abstracts";

.container {
    max-width: 1170px;
}

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background: $color-gray;
    border-bottom: 2px solid #eee;

    &-list {
        display: flex;
        align-items: center;

        &__item {
            padding: 10px 13px;

            &:first-child {
                padding-left: 0;
            }
        }

        &__link {
            position: relative;
            display: inline-block;
            color: $color-black;

            &.active {
                @include active;
                text-decoration: underline;
                text-underline-offset: 2px;
            }
        }
    }
}

.line-effect {
    @include active-lineEffect;
}

.line-clamp {
    --line-clamp: 2;
    @include line-clamp
}

.banner {
    margin-top: 15px;
    width: 100%;

    &__thumb {
        display: flex;
        align-items: center;
        position: relative;
        width: 100%;
    }

    &__picture {
        width: 100%;
        object-fit: contain;
    }

    &__btn {
        @include button-arrow;
        width: 40px;
        height: 40px;
        background: rgba(0, 0, 0, 0.25);
        position: absolute;
        left: 20px;

        > * {
            pointer-events: none;
        }

        i {
            font-size: 1rem;
            color: #eee;
        }

        &:last-child {
            left: 1070px;
        }
    }
}

.recommend {
    &__info {
        @include info;

        &.info-2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__heading {
        @include heading;
    }

    &__logo {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20px;
        height: 20px;
        background: #000;
        border-radius: 99px;

        > i {
            color: #fff;
            font-size: 1rem;
        }
    }

    // list
    &__list {
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
    }

    &__item {
        position: relative;
        max-width: 170px;
        height: 240px;
        border: 1px solid #eee;
        transition: all 0.2s ease;
        transform: scale(1);

        &:hover {
            transform: scale(1.1);

        }
    }

    &__pic {
        padding-top: 20px;
        width: 140px;
        height: 90px;
    }

    &__icon {
        position: absolute;
        right: 8px;
        top: 8px;

        > i {
            font-size: 1.5rem;
        }
    }

    &__title {
        margin: 10px 0;
        font-size: 1.4rem;
        letter-spacing: 0px;
        line-height: 1.2;
        @include font-suisseIntl;
    }

    &__desc {
        margin: 15px 0 10px;
        font-size: 1.2rem;
    }

    &__buy {
        display: block;
        @include font-suisseIntl;
        font-size: 2rem;
        margin-bottom: 20px;
        font-weight: 700;
    }

    &__sale {
        background: #eee;
        font-size: 1.3rem;
    }

    &__body,
    &__arrow {
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border: none;
        outline: none;
        border-radius: 99px;

        > i {
            font-size: 1.2rem;
            color: #000
        }
    }
}


.brand {
    &__info {
        @include info;
    }

    &__heading {
        @include heading;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    &__item {
        transition: all 0.2s ease;
    }

    &__pic {
        width: 200px;
        height: 160px;
    }
}

.rcm-2__list {
    width: 2000px;
    overflow-x: ;
}
