@import "../abstracts";
.header-login {
    @include sticky;
    background: #1e1f29;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    margin: 20px auto 0;
    max-width: 400px;
    background: red;
}