@import "../abstracts";

.header-login {
    position: relative;
    @include sticky;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #15161d;

    .header-icon {
        position: absolute;
        right: 4rem;

        i {
            font-size: 2rem;
            color: #fff;
        }
    }
}

.form {
    position: relative;
    margin: 20px auto 0;
    max-width: 400px;
    // tối đa 400px
    min-height: 300px;
    // tối thiểu 600px nếu hơn 600px thì nó tăng lên
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid #e0e0e0;

    &__row {
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 2px solid #dadada;
        position: relative;
    }

    &-body {
        padding-bottom: 20px;
        border-bottom: 2px solid #dadada;
    }

    &__link {
        font-family: sans-serif;
        font-size: 1.4rem;
        font-weight: 600;
        color: #000;
    }
    .line {
        position: absolute;
        width: 185px;
        top: 35px;
        left: 0;
        height: 2px;
        background: red;
        transition: all 0.2s linear;

        &.line-2 {
            right: 0;
            left: initial; // bỏ left mặc định
        }
    }

    &-control {
        position: relative;
        margin-bottom: 20px;

        i {
            @include pos-top;
            right: 10px;
        }

        input {
            width: 100%;
            padding: 15px 15px 10px;
            font-size: 1.6rem;
            letter-spacing: -1px;
            font-family: "Montserrat";
            font-size: 1.6rem;
            font-weight: 500;
        }

        input:not(:placeholder-shown) + label,
        input:focus + label {
            font-size: 1rem;
            font-weight: 400;
            transform: translateY(-18px);
            // background: #fff;
            // text-shadow: -0.1px -0.1px currentColor, 0.1px 0.1px currentColor;
        }

        label {
            position: absolute;
            left: 16px;
            top: 50%;
            transform: translateY(-50%);
            transition: all 0.2s linear;

            span {
                color: red;
            }
        }
    }

    &-desc {
        display: block;
        font-size: 1.2rem;
        color: #010101;
        font-weight: 600;
        letter-spacing: -0.3px;

        &.desc-1 {
            margin-top: 5px;
            font-weight: 500;
            color: #949494;
            line-height: 1.4;
        }

        strong {
            color: #000;
            font-weight: 700;
        }
    }

    .login {
        margin-top: 10px;
        width: 100%;
        outline: none;
        border: none;
        height: 50px;
        background: $color-red;
        color: #fff;
        font-weight: 700;
        font-size: 1.4rem;
        transition: all 0.25s ease;

        &:hover {
            background: rgba(245, 66, 72, 0.872);
        }
    }

    .or {
        @include pos-left;
        bottom: 280px;
        font-size: 1.4rem;
        padding: 5px 8px;
        background: #fff;
    }

    &-list {
        margin-top: 20px;
    }

    &-item {
        width: 100%;
        border: 1px solid $color-red;
        background: #fff;
        padding: 16px;
        margin-bottom: 10px;
        transition: all 0.3s linear;

        &:hover {
            background: rgba(0, 0, 0, 0.25);
            border-color: rgba(0, 0, 0, 0.25);
        }

        &__link {
            color: #000;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
        }
    }

    &-content {
        display: flex;
        justify-content: center;
        font-size: 1.4rem;
        letter-spacing: -0.5px;

        a {
            display: block;
            margin-left: 5px;
            color: $color-red;
            font-weight: 500;
            cursor: pointer;
            text-decoration: underline;
            text-underline-offset: 3px;
        }
    }

    small {
        font-size: 1.2rem;
        position: absolute;
        top: 48px;
        left: 16px;
    }

    &-big {
        // dùng display: none để ko chiếm ko gian
        display: none;

        &.big-2 {
            display: block;
        }
    }
}
