@import "../abstracts";
.header-login {
    @include sticky;
    background: #1e1f29;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form {
    margin: 20px auto 0;
    max-width: 400px;
    height: 600px;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 5px;
    padding: 20px;

    &-row {
        display: flex;
        justify-content: space-between;
    }
}