@import "../abstracts";

.container {
    max-width: 1170px;
}

.sneaker {
    &-head {
        margin-top: 20px;
        mw
    }
    
    &-body {
        border-radius: 5px;
        height: 140px;
        background: #f4f3f1;
        padding: 20px;

        &__heading {
            @include heading-h2
        }

        &__desc {
            margin-top: 10px;
            @include desc
        }
    }
}