@import "../abstracts";

.container {
    max-width: 1170px;
}

.sneaker {
    &-head {
        max-width: 1248px;
        margin: 20px auto 0;
    }

    &-body {
        border-radius: 5px;
        height: 140px;
        background: #f4f3f1;
        padding: 25px;

        &__heading {
            @include heading-h2;
        }

        &__desc {
            margin-top: 10px;
            padding-right: 230px;
            @include desc;
        }
    }

    &-content {
        margin-top: 50px;

        .sneaker-page {
            display: flex;
            column-gap: 10px;
        }

        .sneaker-sidebar {
            width: 20%; // tính % dựa trên container 1170px

            .sneaker-column {
                margin-bottom: 30px;

                .title {
                    display: block;
                    @include title;
                    margin-bottom: 5px;
                    cursor: default;
                    color: #000;
                }
            }
        }

        .sneaker-wrapper {
            width: 80%;
            background: red;

            &__row {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .left {
                    display: flex;
                    align-items: center;
                    column-gap: 5px;

                    a {
                        display: block;
                        @include desc;
                        color: #000;
                    }
                }
            }
        }
    }
}
