@import "../abstracts";

.container {
    max-width: 1170px;
}

.sneaker {
    &-head {
        margin-top: 20px;
    }
    
    &-body {
        height: 140px;
        background: #f4f3f1;
        padding: 20px
    }
}