@import "../abstracts";
.container {
    max-width: 1170px;
}

.header {
    @include sticky;
    border-bottom: 3px solid $color-red;

    &-top {
        display: flex;
        align-items: center;
        background: #1e1f29;
        height: 40px;

        &__info {
            display: flex;
            align-items: center;
        }

        &__info:nth-child(1) {
            .header-top__body:nth-child(3) {
                @include screen(md) {
                    display: none;
                }
                @include screen(sm) {
                    display: none;
                }
            }
            .header-top__body:nth-child(1) {
                @include screen(md) {
                    margin-left: 0;
                }
                @include screen(sm) {
                    display: none;
                }
            }
            .header-top__body:nth-child(2) {
                @include screen(sm) {
                    margin-left: 0;
                }
            }
        }

        &__body:first-child {
            margin-left: 10px;
        }

        &__body {
            display: flex;
            align-items: center;
            column-gap: 10px;
            margin-left: 15px;
            font-size: 1.2rem;

            @include screen(lg) {
                column-gap: 5px;
            }
            @include screen(md) {
                column-gap: 5px;
            }
        }

        &__phone {
            color: #fff;
            font-size: 1.2rem;

            @include screen(lg) {
                font-size: 1rem;
            }

            @include screen(md) {
                font-size: 0.8rem;
            }
        }

        .icon {
            color: $color-red;
        }

        .rightEnd {
            @include screen(lg) {
                justify-content: end;
            }
            @include screen(md) {
                justify-content: end;
            }
        }

        .leftStart {
            @include screen(lg) {
                justify-content: start;
            }
            @include screen(md) {
                justify-content: start;
            }
        }
    }

    &-bottom {
        display: flex;
        align-items: center;
        background: #15161d;
        height: 65px;

        &__inner {
            position: relative;
            display: flex;
            align-items: center;

            @include screen(lg) {
                justify-content: space-between;
            }
            @include screen(md) {
                justify-content: space-between;
            }
        }

        &__logo {
            @include screen(lg) {
                width: 100px;
                height: 40px;
            }

            @include screen(md) {
                display: none;
            }

            @include screen(sm) {
                display: none;
            }
        }
    }

    &-search {
        display: flex;
        align-items: center;
        height: 40px;

        &__left {
            width: 160px;
            height: 100%;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 20px;
            border-radius: 20px 0px 0px 20px;
            border: 1px solid #fff;
            padding-left: 20px;
            background: #fff;

            .categories {
                font-size: 1.4rem;
                color: #333;

                @include screen(lg) {
                    font-size: 1.2rem;
                }

                @include screen(md) {
                    font-size: 1.2rem;
                }

                @include screen(sm) {
                    font-size: 0.8rem;
                }
            }

            i {
                font-size: 1.2rem;
                margin-right: 10px;

                @include screen(md) {
                    font-size: 0.8rem;
                }
            }

            .modal-categories {
                position: absolute;
                top: 40px;
                left: 5px;
                width: 140px;
                background: #fff;
                border-radius: 10px;
                border: 1px solid #eee;
                @include hidden;

                &__item {
                    display: block;
                    padding: 10px 15px;
                    font-size: 1.4rem;
                    cursor: pointer;

                    &.hover {
                        background: #2f2cd4;
                        border: 1px solid #2f2cd4;
                        border-radius: 10px;
                        color: #fff;
                    }

                    @include screen(lg) {
                        font-size: 1rem;
                    }

                    @include screen(sm) {
                        font-size: 0.8rem;
                        padding: 5px;
                    }
                }

                &.visible {
                    @include visible;
                }

                @include screen(lg) {
                    top: 3.2rem;
                    left: 0rem;
                    width: 95%;
                }

                @include screen(sm) {
                    top: 2.4rem;
                    left: 0rem;
                    width: 100%;
                }
            }

            @include screen(lg) {
                height: 80%;
                width: 120px;
                padding-left: 10px;
                column-gap: 5px;
            }

            @include screen(md) {
                height: 80%;
                width: 115px;
                padding-left: 10px;
                column-gap: 2px;
            }

            @include screen(sm) {
                display: none;
            }
        }

        &__form {
            display: flex;
            height: 100%;

            @include screen(lg) {
                height: 80%;
            }

            @include screen(md) {
                height: 80%;
            }

            @include screen(sm) {
                height: 60%;
            }
        }

        &__input {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 15px;
            width: 295px;
            outline: none;
            border: none;
            height: 100%;

            ::placeholder {
                font-size: 1.2rem;
                color: #000;
            }

            @include screen(lg) {
                width: 180px;
            }

            @include screen(md) {
                width: 110px;
                padding: 0 10px;
            }

            @include screen(sm) {
                border-radius: 20px 0 0 20px;
                width: 130px;
                padding: 0 10px 0 15px;
                font-size: 0.8rem;
            }
        }

        &__input::placeholder {
            @include screen(lg) {
                font-size: 1.2rem;
                color: #000;
            }
            @include screen(md) {
                font-size: 1.2rem;
                color: #000;
            }
            @include screen(sm) {
                font-size: 0.8rem;
                color: #000;
            }
        }

        &__submit {
            display: block;
            background: $color-red;
            width: 100px;
            height: 100%;
            border: none;
            outline: none;
            border-radius: 0px 20px 20px 0px;
            color: #fff;
            font-weight: 700;
            cursor: pointer;

            @include screen(lg) {
                font-size: 1.2rem;
                width: 80px;
            }

            @include screen(md) {
                font-size: 1.2rem;
                width: 70px;
            }

            @include screen(sm) {
                font-size: 0.8rem;
                width: 60px;
            }
        }
    }

    &-buy {
        position: relative;

        &__body {
            position: relative;
            text-align: center;
        }

        &__body:nth-child(1) {
            @include screen(md) {
                display: none;
            }
        }

        display: flex;
        align-items: center;
        justify-content: end;
        column-gap: 20px;
        font-size: 1.4rem;

        &__icon {
            text-align: center;
        }

        .icon {
            cursor: pointer;
            color: #fff;
            position: relative;
            font-size: 2rem;
            margin-bottom: 5px;

            @include screen(md) {
                font-size: 1.5rem;
            }

            @include screen(sm) {
                font-size: 1.2rem;
            }
        }

        .number {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0px;
            width: 15px;
            height: 15px;
            border-radius: 99px;
            background: $color-red;
            font-size: 1rem;
            color: #fff;

            &--1 {
                right: 2.5rem;

                @include screen(md) {
                    right: 1.5rem;
                }

                @include screen(sm) {
                    top: -0.3rem;
                    right: 0.5rem;
                }
            }

            &--2 {
                right: 1rem;

                @include screen(md) {
                    right: 0.5rem;
                }

                @include screen(sm) {
                    top: -0.3rem;
                    right: -0.1rem;
                }
            }

            @include screen(sm) {
                width: 12px;
                height: 12px;
            }
        }

        .desc {
            color: #fff;

            @include screen(md) {
                font-size: 1rem;
            }

            @include screen(sm) {
                font-size: 0.6rem;
            }
        }
    }

    .addCart {
        @include screen(lg) {
            top: 5.8rem;
        }

        @include screen(md) {
            top: 4rem;
            min-width: 250px;
            height: 300px;
        }

        @include screen(sm) {
            top: 4rem;
            width: 150px;
            height: 250px;
        }

        @include hidden;
        position: absolute;
        top: 4.5rem;
        background: #fff;
        min-width: 300px;
        height: 320px;
        border-radius: 5px;
        z-index: 2;

        &.visible {
            @include visible;
        }

        &__list {
            border-bottom: 1px solid #eee;
            margin: 10px 0;
            height: 200px;
            overflow-y: scroll;
            scroll-behavior: smooth;
            padding: 0 10px;

            @include screen(sm) {
                height: 150px;
            }
        }

        &__item {
            display: flex;
            align-items: center;
            column-gap: 10px;
            margin-bottom: 10px;
        }

        &__name {
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.5;

            @include screen(md) {
                font-size: 1.2rem;
                line-height: 1.2;
            }

            @include screen(sm) {
                font-size: 1rem;
                line-height: 1;
            }
        }

        &__img {
            width: 120px;
            height: 60px;

            @include screen(sm) {
                width: 80px;
                height: 40px;
            }
        }

        .itemBuy {
            margin-left: 20px;

            &__row {
                margin-bottom: 5px;

                > span {
                    font-size: 1.3rem;
                }
            }

            &__money {
                margin-top: 15px;
                font-weight: 500;
                display: flex;
                align-items: center;
                column-gap: 10px;

                > span:nth-child(2) {
                    font-size: 1.7rem;

                    @include screen(md) {
                        font-size: 1.5rem;
                    }

                    @include screen(sm) {
                        font-size: 1.2rem;
                    }
                }

                > span {
                    @include screen(md) {
                        font-size: 1.2rem;
                    }

                    @include screen(sm) {
                        font-size: 1rem;
                    }
                }

                @include screen(md) {
                    margin-top: 5px;
                    column-gap: 5px;
                }
            }
        }

        &__amount {
            display: flex;
            align-items: center;

            &Right {
                margin-left: 10px;
            }

            @include screen(sm) {
                margin-top: 5px;
                font-size: 1rem;
            }
        }

        &__action {
            margin-top: 20px;
            display: flex;

            @include screen(md) {
                margin-top: 5px;
            }

            .addCart__link {
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                width: 50%;
                height: 50px;
                background: red;
                font-size: 1.3rem;
                font-weight: 700;
                transition: all 0.25s ease;

                @include screen(md) {
                    height: 40px;
                }

                @include screen(sm) {
                    font-size: 1rem;
                }
            }

            .addCart__link:nth-child(2) {
                column-gap: 5px;
            }

            .addCart__link:hover {
                background: #d62323;
            }

            .addCart__link.viewCart {
                background: #000;

                &:hover {
                    background: #706767;
                }
            }
        }
    }

    .todo-list {
        @include hidden;
        border-radius: 3px;
        position: absolute;
        top: 60px;
        left: 41%;
        width: 282px;
        background: #fff;

        @include screen(lg) {
            top: 45px;
            left: 42%;
            width: 175px;
        }

        @include screen(md) {
            left: 42%;
            width: 155px;
        }

        @include screen(sm) {
            top: 35px;
            left: 29%;
            width: 180px;
        }

        &__info {
            display: flex;
            align-items: center;
            column-gap: 5px;

            > i {
                font-size: 1.2rem;
            }

            > span {
                width: 200px;
                padding-right: 5px;
                font-size: 1.3rem;
                word-wrap: break-word;
                padding-bottom: 2px;
                font-weight: 500;

                @include screen(lg) {
                    width: 120px;
                }

                @include screen(md) {
                    width: 100px;
                }

                @include screen(sm) {
                    font-size: 1rem;
                }
            }
        }

        &.visible {
            @include visible;
        }

        &__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 25px 0px;
        }

        &__remove {
            > * {
                pointer-events: none;
            }

            i {
                font-size: 1.2rem;
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}

// header-mobile
.mobile-header {
    &__overlay {
        position: fixed;
        inset: 0 0 0 0;
        background: rgba(0, 0, 0, 0.25);
        z-index: 3;
        @include hidden;

        &.visible {
            @include visible;
        }
    }

    &__menu {
        position: fixed;
        inset: 0 40% 0 0;
        background: #f6f6f6;
        z-index: 4;
        padding: 20px;
        transform: translateX(-120%);
        transition: all 0.2s ease;

        &.visible {
            transform: translateX(0%);
        }

        .nav-list__item:first-child {
            padding: 20px 7px;
        }

        .nav-list__item {
            padding: 20px 7px;
        }

        .nav-list__link {
            font-size: 2rem;
        }
    }

    &__icon {
        display: none;
        // ẩn đi trên các breakpoint

        position: fixed;
        top: 62px;
        z-index: 2;
        left: 13px;
        > i {
            pointer-events: none;
            font-size: 2rem;
            color: #dadada;
        }

        @include screen(md) {
            display: block;
            // xuất hiện ở breakpoint md
            // xuất hiện icon mới click vô thao tác được
        }

        @include screen(sm) {
            display: block;
            // xuất hiện ở breakpoint sm
            // xuất hiện icon mới click vô thao tác được
        }
    }

    .picture {
        width: 60px;
        height: 60px;
        border-radius: 99px;
        object-fit: contain;
    }

    .name {
        margin-top: 20px;
        display: flex;
        align-items: center;
        column-gap: 10px;

        &__thuan {
            font-size: 2rem;
            font-family: Montserrat;
            letter-spacing: -1px;
        }
    }
}
