@import "../abstracts";
.header {
    max-width: 1200px;
    background: #fff;
    margin: 40px auto 0;
    height: 80px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    @include transition();
    
    &.is-sticky {
        position: sticky;
        top: 0;
        z-index: 1;
        max-width: 100%;
        @include transition();
    }

    // đầu tiên header có max-w 1200px và khi scroll nó thêm 
    // class 
    
    &-hero {
        position: absolute;
        top:0;
        z-index: -1;

        &__bg {
            width: 100%;
        }
    }

    .container {
        max-width: 1140px;
    }

    &__inner {
        display: flex;
        align-items: center;
        padding: 14px 0;
    }

    &__nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        align-items: center;
    }

    &__item {
        padding: 10px 20px;
    }

    &__link {
        color: #000;
        font-size: 1.4rem;
        font-weight: 500;

        &:hover {
            @include active;
        }

        &.active {
            @include active;
        }
    }

    &__find {
        display: flex;
        column-gap: 20px;

        > i {
            font-size: 1.8rem;
            color: #585454;
            cursor: pointer;
        }
    }

    &__search {
        position: relative;
        width: 100%;
        @include hidden;

        &.visible {
            @include visible;
        }
    }

    &__input {
        background: -webkit-linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
        background: -moz-linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
        background: -o-linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
        background: linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
        width: 100%;
        outline: none;
        border: none;
        padding: 5px 50px;
        height: 50px;
        color: #fff;

        &::placeholder {
            color: #fff;
        }
    }

    &__iconX {
        position: absolute;
        right: 50px;
        top: 50%;
        transform: translateY(-50%);

        i {
            color: #fff;
            font-size: 1.3rem;
            cursor: pointer;
        }
    }
}

// .main {
//     position: relative;
// }