@import "../abstracts";
.container {
    max-width: 1170px;
}

.header {
    // height: 32 + 78 = 110
    @include sticky;
    border-bottom: 3px solid $color-red;

    &-top {
        display: flex;
        align-items: center;
        background: #1e1f29;
        height: 32px;

        &__info {
            display: flex;
            align-items: center;
        }

        &__body:first-child {
            margin-left: 10px;
        }

        &__body {
            margin-left: 15px;
            font-size: 1.2rem;
            display: flex;
            column-gap: 10px;
        }

        &__phone {
            color: #fff;
        }

        .icon {
            color: $color-red;
        }
    }

    &-bottom {
        display: flex;
        align-items: center;
        background: #15161d;
        height: 78px;

        &__inner {
            display: flex;
            align-items: center;
        }
    }

    &-search {
        display: flex;
        height: 40px;

        &__left {
            width: 160px;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            column-gap: 20px;
            border-radius: 20px 0px 0px 20px;
            border: 1px solid red;

            padding-left: 20px;
            background: #fff;

            .categories {
                font-size: 1.4rem;
                color: #333;
            }

            i {
                font-size: 1.2rem;
                margin-right: 10px;
            }

            .modal-categories {
                position: absolute;
                top: 40px;
                left: 5px;
                width: 140px;
                background: #fff;
                border-radius: 10px;
                border: 1px solid #eee;
                @include hidden;

                &__item {
                    display: block;
                    padding: 10px 15px;
                    font-size: 1.4rem;
                    cursor: pointer;

                    &.hover {
                        background: #2f2cd4;
                        border: 1px solid #2f2cd4;
                        border-radius: 10px;
                        color: #fff;
                    }
                }

                &.visible {
                    @include visible;
                }
            }

            // > * {
            //     pointer-events: none;
            // }
        }

        &__form {
            display: flex;
            height: 100%;
        }

        &__input {
            display: block;
            padding: 0 15px;
            width: 295px;
            outline: none;
            border: 1px solid red;

            height: 100%;

            ::placeholder {
                font-size: 1.2rem;
                color: #fff;
            }
        }

        &__submit {
            display: block;
            background: $color-red;
            width: 100px;
            height: 100%;
            border: none;
            outline: none;
            border-radius: 0px 20px 20px 0px;
            color: #fff;
            font-weight: 700;
            cursor: pointer;
        }
    }

    &-buy {
        display: flex;
        align-items: center;
        justify-content: end;
        column-gap: 20px;
        font-size: 1.4rem;

        &__icon {
            text-align: center;
        }

        .number,
        .icon {
            color: #fff;
            position: relative;
        }

        .icon {
            font-size: 2rem;
            margin-bottom: 5px;
        }

        .number {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 55px;
            width: 15px;
            height: 15px;
            border-radius: 99px;
            background: $color-red;
            font-size: 1rem;

            &--1 {
                right: 300px;
            }

            &--2 {
                right: 200px;
            }
        }

        .desc {
            color: #fff;
        }
    }
}
// &__nav {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
// }

// &__list {
//     display: flex;
//     align-items: center;
// }

// &__item {
//     padding: 10px 20px;
// }

// &__link {
//     color: #fff;
//     font-size: 1.4rem;
//     font-weight: 500;

//     &:hover {
//         @include active;
//     }

//     &.active {
//         @include active;
//     }
// }

// &__find {
//     display: flex;
//     column-gap: 20px;

//     > i {
//         font-size: 1.8rem;
//         color: #585454;
//         cursor: pointer;
//     }
// }

// &__search {
//     // định vị theo header-top
//     position: absolute;
//     top: 150px;
//     width: 100%;
//     @include hidden;

//     &.visible {
//         @include visible;
//     }

//     .input__width {
//         padding-left: 200px;
//     }

//     .icon__width {
//         padding-right: 160px;
//     }
// }

// &__input {
//     background: -webkit-linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
//     background: -moz-linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
//     background: -o-linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
//     background: linear-gradient(270deg, #ffba00 0%, #ff6c00 100%);
//     width: 100%;
//     outline: none;
//     border: none;
//     padding: 5px 50px;
//     height: 50px;
//     color: #fff;

//     &::placeholder {
//         color: #fff;
//     }
// }

// &__iconX {
//     position: absolute;
//     right: 50px;
//     top: 50%;
//     transform: translateY(-50%);

//     i {
//         color: #fff;
//         font-size: 1.3rem;
//         cursor: pointer;
//         display: block;
//     }
// }

// &__banner {
//     position: absolute;
//     top: 200px;
//     display: flex;
//     align-items: center;
// }

// &__thumb {
//     width: 1050px;
//     height: 400px;
// }
