@import "../abstracts";
.container {
    max-width: 1170px;
}

.header {
    @include sticky;
    border-bottom: 3px solid $color-red;

    &-top {
        display: flex;
        align-items: center;
        background: #1e1f29;
        height: 40px;

        &__info {
            display: flex;
            align-items: center;
        }

        &__body:first-child {
            margin-left: 10px;
        }

        &__body {
            display: flex;
            align-items: center;
            column-gap: 10px;
            margin-left: 15px;
            font-size: 1.2rem;
        }

        &__phone {
            color: #fff;
            font-size: 1.2rem;

            @include screen(lg) {
                font-size: 1rem;
            }
        }

        .icon {
            color: $color-red;
        }
    }

    &-bottom {
        display: flex;
        align-items: center;
        background: #15161d;
        height: 65px;

        &__inner {
            display: flex;
            align-items: center;

            @include screen(lg) {
                justify-content: space-between;
            }
        }

        &__logo {
            @include screen(lg) {
                width: 80px;
                height: 40px;
            }

            @include screen(lg) {
                width: 70px;
                height: 30px;
            }
        }
    }

    &-search {
        display: flex;
        height: 40px;

        &__left {
            width: 160px;
            cursor: pointer;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: space-between;
            column-gap: 20px;
            border-radius: 20px 0px 0px 20px;
            border: 1px solid red;

            padding-left: 20px;
            background: #fff;

            .categories {
                font-size: 1.4rem;
                color: #333;

                @include screen(lg) {
                    font-size: 1.2rem;
                }
            }

            i {
                font-size: 1.2rem;
                margin-right: 10px;
            }

            .modal-categories {
                position: absolute;
                top: 40px;
                left: 5px;
                width: 140px;
                background: #fff;
                border-radius: 10px;
                border: 1px solid #eee;
                @include hidden;

                &__item {
                    display: block;
                    padding: 10px 15px;
                    font-size: 1.4rem;
                    cursor: pointer;

                    &.hover {
                        background: #2f2cd4;
                        border: 1px solid #2f2cd4;
                        border-radius: 10px;
                        color: #fff;
                    }
                }

                &.visible {
                    @include visible;
                }
            }

            @include screen(lg) {
                width: 120px;
                padding-left: 10px;
                column-gap: 5px;
            }
        }

        &__form {
            display: flex;
            height: 100%;
        }

        &__input {
            display: block;
            padding: 0 15px;
            width: 295px;
            outline: none;
            border: 1px solid red;

            height: 100%;

            ::placeholder {
                font-size: 1.2rem;
                color: #fff;

                @include screen(lg) {
                    font-size: 1rem;
                }
    
                @include screen(md) {
                    width: 140px;
                }
            }

            @include screen(lg) {
                width: 200px;
            }

            @include screen(md) {
                width: 140px;
            }
        }

        &__submit {
            display: block;
            background: $color-red;
            width: 100px;
            height: 100%;
            border: none;
            outline: none;
            border-radius: 0px 20px 20px 0px;
            color: #fff;
            font-weight: 700;
            cursor: pointer;
        }
    }

    &-buy {
        &__body {
            position: relative;
        }

        display: flex;
        align-items: center;
        justify-content: end;
        column-gap: 20px;
        font-size: 1.4rem;

        &__icon {
            text-align: center;
        }

        .icon {
            color: #fff;
            position: relative;
        }

        .icon {
            font-size: 2rem;
            margin-bottom: 5px;
        }

        .number {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0px;
            width: 15px;
            height: 15px;
            border-radius: 99px;
            background: $color-red;
            font-size: 1rem;
            color: #fff;


            &--1 {
                right: 2.5rem;
            }

            &--2 {
                right: 1rem;
            }
        }

        .desc {
            color: #fff;
        }
    }
}
