.header {
    width: 1200px;
    max-width: calc(100% - 48px);
    background: #fff;
    margin: 40px auto 0;
    height: 80px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

    .container {
        width: 1140px;
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        df
    }
}